<h1>List of all Art Pieces</h1>

<div class="row">
  <% @art_pieces.each do |art_piece| %>
    <div class="card-category col-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= art_piece.picture %>)">
      <%= art_piece.title %>
      <%= art_piece.unit_price %>
    </div>
  <% end %>
</div>

