// Import page-specific CSS files here.
@import "home";
@import "show";

.art-pieces-container {
  margin: 0 auto;
  padding: 16px 0;
}

.art-pieces-container h1 {
  text-align: center;
  color: white;
}

.art-pieces-container img {
  object-position: top;
}

.show-container{
  height: 100vh
}