// Import page-specific CSS files here.
@import "home";
@import "show";

.art-pieces-container {
  padding: 16px 0;
  width : 80%
}

.art-pieces-container h1 {
  text-align: center;
  color: white;
}

.art-pieces-container img {
  object-position: top;
}

