// Structure générale

.show-container{
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

// Présentation de l'oeuvre

.art-piece-container {
  margin: auto;
  width: 55%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 16px;
  border-radius: 6px;

}

.art-piece-container h2 {
  font-size: 32px;
  margin-bottom: 16px;
}

.art-piece-container h3 {
  font-weight: bold;
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  span {
    font-weight: 100;
    opacity: .7;
  }
  .size {
    font-size: 20px;
  }
}

.art-piece-container img {
  width:  100%;
  height: 400px;
  object-fit: cover;
}

.art-piece-container .art-piece-infos {
  margin: 16px 0;
}

.art-piece-container .art-piece-pricing {
  display: flex;
  justify-content: flex-end;
}

.art-piece-container .form-group {
  display: flex;
  justify-content: flex-end;
}

.price {
  font-size: 32px;
  color: #D23333;
}

// Caractéristiques de l'oeuvre

.caracteristics{
  display: flex;
}

text {
  display: flex;
}

// Onglet de réservation

.booking-form{
  width: 370px;
  height: 370px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 16px;
  border-radius: 6px;
  top: 82px;
  position: sticky;
}