    <nav></nav>
    <div class="caroussel">
      <div class="search-bar">
        <h1>Date de dispo début</h1>
        <h1>Date de dispo fin</h1>
        <h1>catégorie</h1>
        <button>Search</button>
      </div>
    </div>
    <div class="cards">
    <div>
    <footer></footer>
