<div id="carousel-slides" class="carousel" data-ride="carousel">
  <%= render "shared/search" %>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="<%= image_path "art_gallery_1.jpg" %>" class="d-block w-100" alt="art-gallery">
    </div>
    <div class="carousel-item">
      <img src="<%= image_path "art_gallery_2.jpg" %>" class="d-block w-100" alt="art-gallery">
    </div>
    <div class="carousel-item">
      <img src="<%= image_path "art_gallery_3.jpg" %>" class="d-block w-100" alt="art-gallery">
    </div>
  </div>
</div>

<div>
  <h2 class="popular">Have a look at our most popular paintings !</h2>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1571115764595-644a1f56a55c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=380&q=80)">
    Breakfast
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1574182245530-967d9b3831af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=377&q=80)">
    Vase with Flowers
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1532347939055-0d93107d087e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=704&q=80)">
    Abstract
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1544867885-2333f61544ad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80)">
    Chennai
    </div>
  </div>
</div>
