.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
}

.carousel-item active {
position:relative;
}

// div#carousel-slides {
//     position:relative;
// }

#carousel-slides {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.carousel-inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 0;
}
