.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  background-color: white;
  width: 80%;
  height: 80%;
  padding: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 32px 16px;
  height: 100%;
}

.content.inactive {
  display: none
}

.content-infos {
  width: 100%;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

