div.form-group {
  z-index:10;
  width: 40%;
  top:10%;
  left:32%;
  right:32%;
  bottom:45%;
  background-color: none;
}

i.fas.fa-search {
    color: white;
}

button.btn.btn-default {
    border-color: white;
}

.review-form{
  width: 370px;
  height: 370px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 16px;
  border-radius: 6px;
  top: 82px;
}

.form-wrapper.reservation-form {
    background-color: white;
    padding: 12px;
    margin-bottom: 12px;
    width: 100%;
}
